{% extends 'general/master.html' %}
{% block content %}
{% load staticfiles %}

<div class="container-fluid">
  <div class="row min-vh-C76 mr-10 bg-CimageHome full-Cimage">
    <div class="col-12">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="fw-light"><b>Bienvenido a 
            <img class="img-fluid py-2" alt="Responsive image" src="{% static 'images/logoSimusaber_largo.png' %}"></b></h1>
        </div>
      </div>
    </div>  
</div>
  

{% endblock %}